In [6]:
name ,math ,science, english  = input("Enter name and marks for math science and english: ").split()
math = int(math)
science = int(science)
english = int(english)
print(name)
print(math)
print(science)
print(english)

resh
90
90
87

In [7]:
students = {name:(math,science,english)}
average = {}
for name , scores in students.items():
    total_score = sum(scores)
    avg_score = total_score/3 
    avg_score = round(avg_score,2)
    average[name] = avg_score

In [8]:
average

{'resh': 89.0}

In [10]:
students = {}
n = int(input("Enter number of students: "))

for i in range(n):
    name, math, science, english = input(f"Enter name and marks for math, science, and english (student {i+1}): ").split()
    math = int(math)
    science = int(science)
    english = int(english)
    students[name] = (math, science, english)

average = {}

for name, scores in students.items():
    total_score = sum(scores)
    avg_score = round(total_score / 3, 2)
    average[name] = avg_score

print("\nAverage marks of each student:")
for name, avg in average.items():
    print(f"{name}: {avg}")

Average marks of each student:
ashish: 98.33
Resh: 96.0

In [11]:
average

{'ashish': 98.33, 'Resh': 96.0}

In [12]:
print(max(average.values()))

98.33

In [13]:
students

{'ashish': (100, 97, 98), 'Resh': (97, 96, 95)}

In [14]:
top_student = max(average, key=average.get)
print("Top student:", top_student)
print("Highest average:", average[top_student])

Top student: ashish
Highest average: 98.33

In [15]:
scores = students[top_student]
above_80_all = all(mark > 80 for mark in scores)

print("Scored above 80 in all subjects:", above_80_all)

Scored above 80 in all subjects: True

In [18]:
subjects = ['math','science','english']
# find topics of each subject 
for i, subject in enumerate(subjects):
    print(i,subject)
    sub = max(students)
    print(sub)
    topper = max(students, key = lambda name:students[name][i])

    print(f"{subject.title()} topper: {topper} with {students[topper][i]} marks")

0 math
ashish
Math topper: ashish with 100 marks
1 science
ashish
Science topper: ashish with 97 marks
2 english
ashish
English topper: ashish with 98 marks