In [1]:
atuple = (3,3,4,5,6)
count = atuple.count(3)
print(count)

2

In [2]:
# difference ? list is changeable , tuple is not 
alist = [1,2,3,4]
atuple = (1,3,4,5)

print(atuple)
print(alist)

(1, 3, 4, 5)
[1, 2, 3, 4]

In [3]:
alist[0] = "Ashish"
alist

['Ashish', 2, 3, 4]

In [4]:
atuple[0] = 'ash'

TypeError: 'tuple' object does not support item assignment

In [5]:
# convert tuple to list 
print(type(atuple))

<class 'tuple'>

In [6]:
print(type(list(atuple)))

<class 'list'>

In [8]:
v = list(atuple)
v[0] = 'ash'
v
a = tuple(v)
a

('ash', 3, 4, 5)

In [9]:
a[2]

4